{% load static %}
<!-- !DOCTYPE html> -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'style/aboutus.css' %}" >

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mochiy+Pop+P+One&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@500&family=Mochiy+Pop+P+One&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Supermercado+One&display=swap"
        rel="stylesheet">

</head>

<body>
    <header>

        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="{% static 'image/logo.png' %}" alt="GeeksforGeeks LPU Chapter" width="75px" height="75px">
                </div>
                
            </div>
    </header>
    <main>
        <div class="about1">
            ClubHub: Unleashing Passionate Pursuits in Music, Dance, and Sports
        </div>
        <hr>
        <div class="about2">
            <h2>Uniting Music, Dance, Sports for Maximum Fun!</h2>
            <br>
            <br>
            <p>Welcome to ClubHub, a dynamic haven where passion meets camaraderie. Immerse yourself in the rhythmic beats of our Music Club, where melodies intertwine with soulful vibes. Feel the energy on the dance floor at our Dance Club, where diverse styles fuse into a vibrant symphony of movement. For sports enthusiasts, our Sports Club is a playground of skill and camaraderie, fostering teamwork and competition. At ClubHub, we celebrate diversity and unity, offering a unique space for every interest. Join us in creating unforgettable memories, forging friendships, and experiencing the pulsating heartbeat of our vibrant community. Discover your rhythm, express your moves, and unleash your athletic prowess at ClubHub  where passions unite!
            </p>
        </div>

        <h1 class="team"> TEAM MEMBERS </h1>

        <div class="container-1">
            <div class="flexbox1">
                <img id="pic" src="Abhiraj.jpg" alt="Abhiraj">
                <h2 class="head1">Laren Anthony Carvello</h2>
                <p class="a"></p>
                <br>
                <form action="https://lavasa.christuniversity.in/">
                    <button class="button"><span>See More </span></button>
                </form>
            </div>
            <br>
            <div class="flexbox1">
                <img id="pic" src="Supriya.jpg" alt="supriya">
                <h2 class="head1">Parul Sharma</h2>
                <p class="a"></p>
                <br>
                <form action="https://lavasa.christuniversity.in/">
                    <button class="button"><span>Connect </span></button>
                </form>
            </div>
            <br>
            <div class="flexbox1">
                <img id="pic" src="Jigyanshu.jpg" alt="shirts">
                <h2 class="head1">Sukanna Das</h2>
                <p class="a"></p>
                <br>
                <form action="https://lavasa.christuniversity.in/">
                    <button class="button"><span>See More </span></button>
                </form>
            </div>
            <br>
        </div>
        <br>

        <h1 class="team"> GALLERY </h1>

        <div class="container-1">
            <div class="flexbox1">
                <img id="pic" src="{% static 'image/clubimg1.jpg' %}" alt="Ashutosh Mohapatra">
                <h2 class="head1"></h2>
                <p class="a"></p>
                <br>
                <form action="https://lavasa.christuniversity.in/">
                    <button class="button"><span>See More </span></button>
                </form>
            </div>
            <br>
            <div class="flexbox1">
                <img id="pic" src="{% static 'image/img2.jpg' %}" alt="Nitin Sir">
                <h2 class="head1"></h2>
                <p class="a"></p>
                <br>
                <form action="https://lavasa.christuniversity.in/"><button
                        class="button"><span>See More </span></button></form>
            </div>
            <br>
            <div class="flexbox1">
                <img id="pic" src="{% static 'image/img4.jpg' %}" alt="Harneet kaur">
                <h2 class="head1"></h2>
                <p class="a"></p>
                <br>
                <form action="https://lavasa.christuniversity.in/">
                    <button class="button"><span>See More </span></button>
                </form>
            </div>
            <br>
        </div>
        <br>
        
        <div class="container-1">
            <div class="flexbox1">
                <img id="pic" src="{% static 'image/img4.jpg' %}" alt="Ashutosh Mohapatra">
                <h2 class="head1"></h2>
                <p class="a"></p>
                <br>
                <form action="https://lavasa.christuniversity.in/">
                    <button class="button"><span>See More </span></button>
                </form>
            </div>
            <br>
            <div class="flexbox1">
                <img id="pic" src="{% static 'image/IMG5.jpg' %}" alt="Mahak Dhiman">
                <h2 class="head1"></h2>
                <p class="a"></p>
                <br>
                <form action="https://lavasa.christuniversity.in/">
                    <button class="button"><span>See More </span></button>
                </form>
            </div>
            <br>
            <div class="flexbox1">
                <img id="pic" src="{% static 'image/imG6.jpg' %}" alt="shirts">
                <h2 class="head1"></h2>
                <p class="a"></p>
                <br>
                <form action="https://lavasa.christuniversity.in/">
                    <button class="button"><span>See More </span></button>
                </form>
            </div>
            <br>
        </div>
    </main>
    <br>
    <footer>
        <div class="footer1">
            <p class="footpara">Copyright &copy; Clubhub. All Rights Reserved | Gmail: clubhub.@gmail.com </p>
            <br>
        </div>
    </footer>
</body>
</html>